SECRET_KEY=change-me-to-a-long-random-string
DEBUG=false

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=user_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/reset-password

AWS_REGION=us-east-1
AWS_S3_BUCKET=user-management-avatars
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT_URL=
